{% extends 'contatos/base.html' %}

{% block content %}
    <a href="{% url 'contatos:criar' %}">Novo Contato</a>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for contato in contatos %}
            <tr>
                <td>{{ contato.nome }}</td>
                <td>{{ contato.email }}</td>
                <td>{{ contato.telefone }}</td>
                <td>
                    <a href="{% url 'contatos:detalhar' contato.pk %}">Ver</a>
                    <a href="{% url 'contatos:editar' contato.pk %}">Editar</a>
                    <a href="{% url 'contatos:deletar' contato.pk %}">Deletar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhum contato cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}